{{define "emoji-box"}}
<div class="emoji-box">
    <div class="emoji-box-header">
        <h3>World Wide Web Reactions</h3>
    </div>

    <div class="emoji-stage" id="emoji-stage" aria-label="Emoji reactions screensaver">
        {{ if .CurrentRideEmojis }}
        {{ range .CurrentRideEmojis }}
        <span class="dvd-emoji" role="img" aria-label="{{.}}">{{.}}</span>
        {{end}}
        {{else}}
        <div class="stage-empty-overlay">
        </div>
        {{end}}
    </div>

    <div class="emoji-box-footer">
        {{if .IsAuthenticated}}
        <div class="emoji-status">
            <img id="emoji-picker-icon" class="emoji-picker-icon" src="/static/img/chow-chow-face-icon.png"
                alt="An outline of a chow chow's face" role="button" tabindex="0" aria-label="Open emoji picker"
                aria-expanded="false">
            <div id="curated-emoji-picker" class="curated-emoji-picker hidden" role="dialog"
                aria-label="Emoji reactions">
            </div>
            <form id="emoji-reaction-form" action="/ride/emoji" method="POST" class="hidden">
                <!-- Include the CSRF token -->
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" name="ride_id" value="{{.Ride.ID}}">
                <input type="hidden" name="emoji" id="selected-emoji-input" value="">
            </form>
            {{with .Form.FieldErrors.emoji}}
            <p class="error">{{.}}</p>
            {{end}}
        </div>
        {{else}}
        <div class="emoji-status">
            <p><a href="/user/login">Log in</a> to add an emoji!</p>
        </div>
        {{end}}
    </div>
</div>
{{end}}